/*reset básico da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(33, 224, 33);
    background: linear-gradient(#87CEEB, #E0F6FE);
    margin: 0 auto; /*forma de centralizar a div*/
    position: relative;
    overflow: hidden; /*para esconder o que passar do tamanho da div*/
}

/*estilização e animação PIPE*/
.pipe{
    position: absolute; /* a position absolute define a que o elemento não interfira no comportamento da outra*/
    bottom: 0;
    width: 82px;
    animation: movePipe 1.5s infinite linear; /*o pipe vai se mover para a direita de forma linear, mantendo a mesma velocidade*/
}

@keyframes movePipe{
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

/*estilização e animação Mario*/
.mario{
    width: 150px;
    bottom: 0;
    position: absolute;
}

.jump{
    animation: jumpMario 500ms ease-out;
}

@keyframes jumpMario{
    0%{
        bottom: 0;
    }

    30%{
        bottom: 160px;
    }

    50%{
        bottom: 180px;
    }

    70%{
        bottom: 160px;
    }

    100%{
        bottom: 0;
    }
}

/*estilização e animação nuvens*/
.nuvens{
    width: 550px;
    bottom: 200px;
    position: absolute;
    animation: moveNuvens 20s infinite linear;
}

@keyframes moveNuvens{
   /*horizontal*/
    from{
        right: -550px;
    }

    to{
        right: 100%;
    }

    /*vertical*/
    0%{
        bottom: 200px;
    }

    10%{
        bottom: 160px;
    }

    30%{
        bottom: 200px;}

    50%{
        bottom: 160px;
    }

    70%{
        bottom: 200px;
    }

    100%{
        bottom: 160px;
    }
}