/*reset básico da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 80%;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto; /*forma de centralizar a div*/
    position: relative;
    overflow: hidden; /*para esconder o que passar do tamanho da div*/
}

/*estilização e animação PIPE*/
.pipe{
    position: absolute; /* a position absolute define a que o elemento não interfira no comportamento da outra*/
    bottom: 0;
    width: 82px;
    animation: movePipe 2s infinite linear; /*o pipe vai se mover para a direita de forma linear, mantendo a mesma velocidade*/
}

@keyframes movePipe{
    from{
        right: -80px;
    }

    to{
        right: 100%;
    }
}

/*estilização e animação Mario*/
.mario{
    width: 150px;
    bottom: 0;
    position: absolute;
}

.jump{
    animation: jumpMario 500ms ease-out;
}

@keyframes jumpMario{
    0%{
        bottom: 0;
    }

    30%{
        bottom: 160px;
    }

    50%{
        bottom: 180px;
    }

    70%{
        bottom: 160px;
    }

    100%{
        bottom: 0;
    }
}